<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "Lato", sans-serif;
      }

      body {
        height: 100vh;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .loading {
        width: 560px;
        height: 420px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .loading .spinner {
        display: inline-block;
        width: 50px;
        height: 50px;
        border: 3px solid rgba(0, 0, 0, 0.3);
        border-radius: 50%;
        border-top-color: #444;
        animation: spin 1s ease-in-out infinite;
        -webkit-animation: spin 1s ease-in-out infinite;
      }
      @keyframes spin {
        to {
          -webkit-transform: rotate(360deg);
        }
      }
      @-webkit-keyframes spin {
        to {
          -webkit-transform: rotate(360deg);
        }
      }
      .container{
        flex-direction: column;
        align-items: center;
      }
      .container > img{
        width: 60%;
      }
    </style>
  </head>
  <body>
    <div class="container" style="display: none" ut:style="display:flex;">
      <h1>{{headerTitle}}</h1>
      <img ut:src="{{image}}" ut:alt="{{title}}" />
    </div>
    <div class="loading" style="display: flex" ut:style="display:none;">
      <div class="spinner"></div>
    </div>
    <script src="https://js.trustisto.com/socialproof_succker.js"></script>
  </body>
</html>
